
<div style="padding: 40px 0">
<div class="container"> 
<form #f="ngForm" (ngSubmit)="mainSubmit(f)">
    <div class="form-group">
        <label  class="bmd-label-floating">Id</label>
        <input type="text" class="form-control" [(ngModel)]="user.id" #userId="ngModel"  name="userId" required>
        <div class="alert alert-danger" *ngIf="userId.touched && userId.errors?.required ">dsfdsf</div>
      </div>

      <div class="form-group">
          <label  class="bmd-label-floating">Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" #userName="ngModel" name="userName" required>
          <div class="alert alert-danger" *ngIf="userName.touched && userName.errors?.required ">dsfdsf</div>
        </div>


        <div class="form-group">
            <label  class="bmd-label-floating">User Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" #useruserName="ngModel" name="username" required>
            <div class="alert alert-danger" *ngIf="useruserName.touched && useruserName.errors?.required ">dsfdsf</div>
          </div>
    
  <div class="form-group">
    <label class="bmd-label-floating">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="user.email" #useremail="ngModel" name="useremail" required>
    <div class="alert alert-danger" *ngIf="useremail.touched && useremail.errors?.required ">dsfdsf</div>
  </div>


  <div class="form-group">
    <label class="bmd-label-floating">Phone</label>
    <input type="text" class="form-control" [(ngModel)]="user.phone" #userphone="ngModel" name="userphone" required>
    <div class="alert alert-danger" *ngIf="userphone.touched && userphone.errors?.required ">dsfdsf</div>
  </div>

  <button type="submit" class="btn btn-primary btn-raised">Submit</button>
</form>
</div>
</div>






<div class="main_container">


<div class="container">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td> <button class="btn btn-primary btn-sm" (click)="onEditClick(user)">Edit</button></td>
        <td> <button class="btn btn-danger btn-sm" (click)="onDeleteClick(user.id)">Delete</button></td>
      </tr>
    
    </tbody>
  </table>
</div>
</div>